<div class="wrapper">
  
  <div style="margin-top: 2.5vh" class="row">
      <div class="col-6 offset-1 text">
          <h1>¡Welcome!</h1>
        </div>
  </div>

  <div class="container-fluid">
    <div  class="col-12">
      <div class="row text-center justify-content-md-center">
       <div class="col-3">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://cdn2.iconfinder.com/data/icons/professions/512/user_boy_avatar-512.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Username:</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
       </div>
       <!--LISTADO CURSOS-->
       <div class="col-8">
         <div class="row">
           <div *ngFor="let curso of cursos" class="col-sm-6">
              <div class="card">
                  <div class="card-header bg-primary text-white">
                    <h3>{{curso.titulo}}</h3>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Nivel: {{curso.nivel}}</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ipsa harum, consequuntur reiciendis accusamus doloremque neque, nostrum delectus cum maiores cumque consequatur optio laborum voluptatum natus provident quod. Quae, dolor?</p>
                    <button class="btn btn-primary" (click)="SetCurso(curso._id)" [routerLink]="['/curso']">Let´s start</button>
                  </div>
                </div>
           </div>
         </div>
       </div>
       <!---->
      </div>
    </div>
  </div>
    
</div>