<div class="wrapper">
  <div class="container">
    <h1>Test</h1>
    <hr>
    <div class="row">
      <div class="col-10 offset-1">
        <form action="">
          <div *ngFor="let pregunta of preguntas" class="form-group">
            <label for="">{{pregunta.pregunta}}</label>
            <select class="form-control" name="" id="">
              <option value="" selected disabled>Choose the correct option</option>
              <option value="">{{pregunta.respuesta}}</option>
            </select>
          </div>
          <div style="text-align:right" class="form-group">
            <button class="btn btn-lg btn-primary" type="submit">Finish</button>
          </div>
        </form>
      </div>
    </div>
  </div>    
</div>
